@import "https://fonts.googleapis.com/css?family=Salsa|Pacifico";
:root {
  --spread: .5em;
  --shift: .01em;
  --base: #4d70c7;
  --c1: #21c2f5;
  --c2: #9c63c7;
}

@-webkit-keyframes flicker1 {
  95% {
    text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--base), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 var(--spread) var(--base), 0 0 calc(var(--spread) / 1.5) var(--base);
  }
  98% {
    text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--c2), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 0 var(--base), 0 0 0 var(--base);
  }
}

@keyframes flicker1 {
  95% {
    text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--base), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 var(--spread) var(--base), 0 0 calc(var(--spread) / 1.5) var(--base);
  }
  98% {
    text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--c2), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 0 var(--base), 0 0 0 var(--base);
  }
}
@-webkit-keyframes flicker2 {
  90% {
    opacity: .1;
    text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--c2), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 0 var(--base), 0 0 0 var(--base);
  }
}
@keyframes flicker2 {
  90% {
    opacity: .1;
    text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--c2), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 0 var(--base), 0 0 0 var(--base);
  }
}
.titulo {
  font-family: 'Salsa', sans-serif;
  text-align:center;
  margin-bottom: 50px;
}

.titulo h3 {
  font-family: 'Pacifico', cursive;
  font-weight: 100;
  margin: 0 0 .2em 0;
  font-size: 5em;
  letter-spacing: -.01em;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
  color: transparent;
  text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--base), calc(var(--shift) * 1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * 1) calc(var(--shift) * -1) calc(var(--spread) / 50) var(--c1), calc(var(--shift) * -1) calc(var(--shift) * 1) calc(var(--spread) / 50) var(--c1), 0 0 var(--spread) var(--base), 0 0 calc(var(--spread) / 1.5) var(--base);
}
.titulo h3 span:nth-child(1) {
  -webkit-animation: flicker1 1s infinite alternate ease-in-out;
          animation: flicker1 1s infinite alternate ease-in-out;
}
.titulo h3 span:nth-child(2) {
  -webkit-animation: flicker1 1.5s infinite alternate ease-in-out;
          animation: flicker1 1.5s infinite alternate ease-in-out;
}
.titulo h3 span:nth-child(3) {
  -webkit-animation: flicker1 .47s infinite alternate ease-in-out;
          animation: flicker1 .47s infinite alternate ease-in-out;
}
.titulo h3 span:nth-child(4) {
  -webkit-animation: flicker2 .1s infinite alternate ease-in-out;
          animation: flicker2 .1s infinite alternate ease-in-out;
}

.titulo p {
  margin: 0;
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.titulo main {
  text-align: center;
  font-size: 4vmin;
  color: #fff;
}
